{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container">
    <h2>レイアウト詳細</h2>
    <table class="table">
        <tr>
            <th>レイアウト名</th>
            <td>{{ layout.layout_name }}</td>
        </tr>
        <tr>
            <th>レイアウト横幅(px)</th>
            <td>{{ layout.layout_width }}</td>
        </tr>
        <tr>
            <th>レイアウト縦幅(px)</th>
            <td>{{ layout.layout_height }}</td>
        </tr>
        <tr>
            <th>座席横幅(px)</th>
            <td>{{ layout.seat_width }}</td>
        </tr>
        <tr>
            <th>座席縦幅(px)</th>
            <td>{{ layout.seat_height }}</td>
        </tr>
        <tr>
            <th>フォントサイズ(px)</th>
            <td>{{ layout.font_size }}</td>
        </tr>
        <tr>
            <th>不透明度</th>
            <td>{{ layout.opacity }}</td>
        </tr>
        <tr>
            <th>空席(色)</th>
            <td><div class="seat non-sitting-seat"></div></td>
        </tr>
        <tr>
            <th>満席(色)</th>
            <td><div class="seat sitting-seat"></div></td>
        </tr>
        <tr>
            <th>注意事項</th>
            <td>{{ layout.notice }}</td>
        </tr>
        <tr>
            <th>レイアウト画像</th>
            <td><a href="/media/{{ layout.image.name }}"><img src="/media/{{ layout.image.name }}" style="width:300px;border:solid 1px black;"></a></td>
        </tr>
        <tr>
            <th>作成日時</th>
            <td>{{ layout.created_at }}</td>
        </tr>
        <tr>
            <th>更新日時</th>
            <td>{{ layout.updated_at }}</td>
        </tr>
        <tr>
            <th>作成者</th>
            <td>{{ layout.created_by }}</td>
        </tr>
        <tr>
            <th>更新者</th>
            <td>{{ layout.updated_by }}</td>
        </tr>
    </table>
    {% if user.is_authenticated %}
    {% url 'layout_edit' layout.id as layout_edit_url %}
    {% bootstrap_button button_class="btn-primary staff-act" button_type="link" content="編集" href=layout_edit_url %}
    {% url 'seat_place' layout.id as seat_place_url %}
    {% bootstrap_button button_class="btn-success staff-act" button_type="link" content="座席設置へGO!" href=seat_place_url %}
    {% url 'layout_delete' layout.id as layout_delete_url %}
    {% bootstrap_button id="layout-delete" button_class="btn-danger staff-act" button_type="link" content="削除" href=layout_delete_url %}
    {% endif %}
</div>
{% endblock main %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script type="text/javascript">
{% if user.is_authenticated %}{% if not user.is_staff %}
$(".staff-act").click(function() {
    alert('スタッフ以上のみが可能です。');
    return false;
});
{% elif user.is_staff %}
$("#layout-delete").click(function() {
    if(!confirm('本当に削除しますか？')) {
        return false;
    }
});
{% endif %}{% endif %}
</script>
{% endblock script %}
{% block style %}
<style>
.sitting-seat {
    background-color:{{ layout.sitting_seat_color }};
}

.non-sitting-seat {
    background-color:{{ layout.non_sitting_seat_color }};
}

.seat {
    opacity:{{ layout.opacity }};
    width:{{ layout.seat_width }}px;
    height:{{ layout.seat_height }}px;
    border-radius:10%;
}
</style>
{% endblock style %}