{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="welcome">
        <h1 class="title">座席表</h1>
        <p class="subtitle">{% if user.is_authenticated %}ようこそ！{% else %}座席閲覧以外の機能を利用する場合はログインしてください。{% endif %}</p>
    </div>
    <div class="d-md-flex justify-content-md-end">
        {% if user.is_authenticated %}<a class="btn btn-success staff-act" href="{% url 'layout_new' %}">新規レイアウト</a>{% endif %}
    </div>
    <form class="form-group form-inline input-group-sm">
        <div class="mb-3 row">
            <label for="searchLayoutName" class="col-md-1 control-label d-flex align-items-center justify-content-center">レイアウト名</label>
            <div class="col-md-3">
                <input id="searchLayoutName" class="form-control" name="layout_name" value="{{ request.GET.layout_name }}" type="text"/>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">検索</button>
            <a class="btn btn-secondary" href="{% url 'layout_list' %}">リセット</a>
        </div>
    </form>
    {% if layouts %}
    <table class="table">
        <thead>
        <tr>
            <th>閲覧</th>
            <th>着席</th>
            <th>レイアウト名</th>
            <th>投稿者</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>
        </thead>
        <tbody>
        {% for layout in layouts %}
        <tr>
            <td><a class="btn btn-sm btn-primary" href="{% url 'seat_view' layout.id %}">GO!</a></td>
            <td><a class="btn btn-sm btn-success authenticated-act" href="{% url 'seat_sit' layout.id %}">GO!</a></td>
            <td><a href="{% url 'layout_detail' layout.id %}">{{ layout.layout_name }}</a></td>
            <td>{{ layout.created_by.get_full_name }}</td>
            <td>{{ layout.created_at }}</td>
            <td>{{ layout.updated_at }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>座席表がありません。</p>
    {% endif %}
</div>
{% endblock main %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<script type="text/javascript">
{% if not user.is_authenticated %}
$(".authenticated-act").click(function() {
    alert("ログインしてください。");
    return false;
});
{% elif not user.is_staff %}
$(".staff-act").click(function() {
    alert("スタッフ以上のみが可能です。");
    return false;
});
{% endif %}
</script>
{% endblock script %}