{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container">
    <h2>座席詳細</h2>
    <table class="table">
        <tr>
            <th>座席ID</th>
            <td>{{ seat.id }}</td>
        </tr>
        <tr>
            <th>レイアウト名</th>
            <td><a href="{% url 'layout_detail' seat.layout.id %}">{{ seat.layout.layout_name }}</a></td>
        </tr>
        <tr>
            <th>X座標(px)</th>
            <td>{{ seat.x_coordinate }}</td>
        </tr>
        <tr>
            <th>Y座標(px)</th>
            <td>{{ seat.y_coordinate }}</td>
        </tr>
    </table>
    <h2>利用状況</h2>
    {% if usage is None %}
    <p>現在空席です。</p>
    {% else %}
    <table class="table">
        <tr>
            <th>利用状況ID</th>
            <td>{{ usage.id }}</td>
        </tr>
        <tr>
            <th>利用者</th>
            <td><a href="{% url 'other_user_detail' usage.user.id %}">{{ usage.user.get_full_name }}</a></td>
        </tr>
        <tr>
            <th>着席日時</th>
            <td>{{ usage.sit_datetime }}</td>
        </tr>
    </table>
    {% endif %}
    <h2>利用履歴</h2>
    {% if usagelogs is None %}
    <p>利用履歴はありません。</p>
    {% else %}
    <table class="table">
        {% for usagelog in usagelogs %}
        <tr>
            <th><a href="{% url 'usagelog_detail' usagelog.id %}">{{ forloop.counter }}</a></th>
            <td>{{ usagelog.user.get_full_name }} {{ usagelog.sit_datetime }}～{{ usagelog.leave_datetime }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock main %}
