{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block main %}
<div class="container">
    <h2>座席詳細</h2>
    <table class="table">
        <tr>
            <th>座席ID</th>
            <td>{{ seat.id }}</td>
        </tr>
        <tr>
            <th>レイアウト名</th>
            <td><a href="{% url 'layout_detail' seat.layout.id %}">{{ seat.layout.layout_name }}</a></td>
        </tr>
        <tr>
            <th>X座標(px)</th>
            <td>{{ seat.x_coordinate }}</td>
        </tr>
        <tr>
            <th>Y座標(px)</th>
            <td>{{ seat.y_coordinate }}</td>
        </tr>
    </table>
    <a class="btn btn-primary mb-md-5" href="{% url 'seat_locate' seat.id %}">場所を確認する</a>
    <h3>利用状況</h3>
    {% if usage %}
    <table class="table">
        <tr>
            <th>利用状況ID</th>
            <th>利用者</th>
            <th>着席日時</th>
            <th>利用時間</th>
        </tr>
        <tr>
            <td>{{ usage.id }}</td>
            <td><a href="{% url 'user_detail' usage.user.id %}">{{ usage.user.get_full_name }}</a></td>
            <td>{{ usage.sit_datetime }}</td>
            <td>{{ usage.sitting_time }}</td>
        </tr>
    </table>
    {% else %}
    <p>現在空席です。</p>
    {% endif %}
    <br>
    <h3>利用履歴</h3>
    {% if usagelogs %}
    <table class="table">
        <tr>
            <th>利用者</th>
            <th>着席日時</th>
            <th>離席日時</th>
            <th>利用時間</th>
        </tr>
        {% for usagelog in usagelogs %}
        <tr>
            <td><a href="{% url 'user_detail' usagelog.user.id %}">{{ usagelog.user.get_full_name }}</a></td>
            <td>{{ usagelog.sit_datetime }}</td>
            <td>{{ usagelog.leave_datetime }}</td>
            <td>{{ usagelog.sitting_time }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>利用履歴はありません。</p>
    {% endif %}
</div>
{% endblock main %}
