{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="welcome">
        <h1 class="title">座席</h1>
    </div>
    <form class="form-group form-inline input-group-sm">
        <div class="mb-3 row">
            <label for="searchLayoutName" class="col-md-1 control-label d-flex align-items-center justify-content-center">レイアウト名</label>
            <div class="col-md-3">
                <input id="searchLayoutName" class="form-control" name="layout_name" value="{{ request.GET.layout_name }}" type="text"/>
            </div>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">検索</button>
            <a class="btn btn-secondary" href="{% url 'seat_list' %}">リセット</a>
        </div>
    </form>
    {% if seats %}
    <table class="table">
        <thead>
        <tr>
            <th>座席ID</th>
            <th>レイアウトID</th>
            <th>X座標</th>
            <th>Y座標</th>
        </tr>
        </thead>
        <tbody>
        {% for seat in seats %}
        <tr>
            <td>{{ seat.id }}</td>
            <td><a href="{% url 'layout_detail' seat.layout_id %}">{{ seat.layout.layout_name }}</a></td>
            <td>{{ seat.x_coordinate }}</td>
            <td>{{ seat.y_coordinate }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>座席がありません。</p>
    {% endif %}
</div>
{% endblock main %}
{% block script %}
{% endblock script %}