{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>座席表</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'seats/css/style.css' %}">
    {% block extraheader %}{% endblock extraheader %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">座席表</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link authenticated-act" href="{% url 'seat_list' %}">座席検索</a></li>
            <li class="nav-item"><a class="nav-link authenticated-act" href="{% url 'usage_list' %}">利用状況検索</a></li>
            <li class="nav-item"><a class="nav-link authenticated-act" href="{% url 'usagelog_list' %}">利用履歴検索</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'user_list' %}">ユーザ検索</a></li>
        </ul>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_detail' %}">{{ user.get_full_name }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    {% block main %}{% endblock main %}
</main>
</body>
</html>
{% block script %}{% endblock script %}
{% block style %}{% endblock style %}